/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    background-color: rgb(50, 50, 50);
}

img {
    max-width: 100%;
    height: auto;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}


/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* PROFILE SETTINGS */
.profile-settings {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(218, 224, 45);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.profile-settings-form {

}

.profile-settings-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.profile-settings-form-title {
    margin: 0;
    font-size: 20px;
}

.profile-settings-close-link {
    display: flex;
}

.profile-settings-form-body {
    position: relative;
    left: 40px;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.profile-settings-avatar {
    position: absolute;
    top: 0;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    transform: translateY(-50%);
}

.profile-settings-form-row {
    display: flex;
}

.profile-settings-form-row:not(:last-child) {
    margin-bottom: 24px;
}

.profile-settings-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-settings-form-group:not(:last-child) {
    margin-bottom: 24px;
}

.profile-settings-form-row .profile-settings-form-group {
    width: 50%;
    margin-bottom: 0;
}

.profile-settings-form-label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

.profile-settings-form-field {
    display: block;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid #555;
}

.profile-settings-form-field-textarea {
    display: block;
    width: 100%;
    min-height: 80px;
    resize: vertical;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid #000;
}

.profile-settings-form-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
}

.profile-settings-form-action {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.profile-settings-form-action:not(:last-child) {
    margin-right: 40px;
}

@media only screen and (max-width: 600px) {
    .profile-settings-form-row {
        flex-direction: column;
    }

    .profile-settings-form-row .profile-settings-form-group {
        width: 100%;
        margin-bottom: 0;
    }

    .profile-settings-form-row .profile-settings-form-group:not(:last-child) {
        margin-bottom: 24px;
    }
}

@media only screen and (max-width: 500px) {
    .main-content {
        padding-top: 0;
        padding-bottom: 0;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .profile-settings-form-body {
        left: 0;
    }

    .profile-settings-form {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media only screen and (max-width: 400px) {
    .profile-settings-form-header {
        padding: 40px 0;
    }
}